@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.875rem;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

h2{
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}

p{
    line-height: calc(0.875rem * 1.5);
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: rgb(0, 119, 255);
}

article{
    margin-bottom: 80px;
}

main{
    padding-top: 200px;
}

main ol{
    margin: 20px 0;
    padding-left: 20px;
} 

main li{
    padding-left: 20px;
    line-height: 1.5rem;
    margin-bottom: 20px;
}

footer{
    width: 100%;
    padding: 20px 0;
    background-color: #f5f5f5;
}

footer .container{
   display: flex;
}

footer li{
    opacity: 0.7;
    font-size: 0.8rem;
    padding: 0 10px 0 10px;
    list-style-type: "·";
}

footer li:first-child{
    list-style: none;
    padding-left: 0;
}

footer a{
    color: inherit;
}

header{
    border-bottom: 1px solid rgb(199, 199, 199);
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 12px;
}

header .top{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
 
header a{
    color: black;
    opacity: 0.7;
}

.header-item{
    width: 50px;
    height: 50px;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-item:hover{
    background-color: #e8e8e8;
}

.logo{
    width: 250px;
    align-self: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
}

header .right{
    display: flex;
}

.profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 2rem;
}

header .bottom{
    padding-left: 5px;
}

header .bottom ul{
    display: flex;
    list-style: none;
    width: 100%;
    gap: 40px;
}

header .bottom li{
    position: relative;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

header .bottom li.active a{
    color: rgb(0, 119, 255);
}

header .bottom li.active:after{
    content: "";
    position: absolute;
    width: 100%;
    background-color: rgb(0, 119, 255);
    height: 2px;
    bottom: -12px;
    left: 0;
}